ipykernel
pandas~=1.4.3
sklearn~=0.0
transformers~=4.21.2
torch
torchvision
torchaudio
pytest
sklearn
pandas
datasets~=2.4.0
transformers
numpy~=1.23.2
scipy
stats
uvicorn[standard]
fastapi~=0.81.0
scikit-learn~=1.1.2
pydantic~=1.9.2